#background {
  background-image: url("../assets/images/money.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 100%;
}

.container {    
  background-color: beige;  
  border-radius: 10px;
  padding: 5px;
}

h1 {
  text-align: center;
}
